body {
	margin: 5px;
	color: #131313;
}
pre {
	margin-bottom: 0;
	padding: 5px 10px;
}
.columns {
	float: left;
	margin-right: 20px;
}
.container {
	background: #dbdbdb;
}
.floortiles-title{
	width: 280px;
}
.floortiles-option {
	width: calc(100% - 320px);
	margin-top: .6em;
}
.ui-slider {
	background: #b9b9b9;
	margin: .6em;
}
.ui-slider-range {
	background: #575757;
}
.ui-slider-horizontal .ui-slider-handle {
	background: #131313;
	top: -.2em;
	border-radius: .6em;
}
.slider-tick-label-container {
	font-size: 12px;
}
.floortiles-scope {
	width: 400px;
	margin-top: 15px;
}
.floortiles-scope > div:first-child,
.floortiles-scope > div:last-child,
.floortiles-clone > div {
	background: #b9b9b9;
	padding: 2px;
	border: 1px solid #dbdbdb;
}
.floortiles-clone span {
	cursor: pointer;
}
.floortiles-clone span:hover {
	color: red;
}
.floortiles-scope > div:first-child,
.floortiles-scope > div:last-child {
	cursor: default;
	margin-right: 1em;
}
.floortiles-clone > div {
	cursor: ns-resize;
	margin-left: 1em;
}
.floor {
	width: calc(100% - 425px);
	background: #b9b9b9;
	margin: 10px auto;
	padding: 5px 10px;
}
.floortiles-wrapper [data-tile] {
	background: #131313;
}
.floortiles-wrapper [data-tile] > div {
	position: absolute;
	color: #dbdbdb;
	width: 36px;
	height: 36px;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
	text-align: center;
	line-height: 34px;
	border: 2px solid #dbdbdb;
	border-radius: 20px;
}