body {
	margin: 5px;
	color: #131313;
}
.columns {
	float: left;
	margin-right: 20px;
}
.container {
	background: #dbdbdb;
}
.floortiles-option {
	margin-right: 40px;
	width: 70%;
}
.ui-slider {
	background: #b9b9b9;
}
.ui-slider-range {
	background: #575757;
}
.ui-slider-handle {
	background: #131313;
}
.slider-tick-label-container {
	font-size: 12px;
}
.floor {
	background: #b9b9b9;
	width: 100%;
	margin: 10px auto;
	padding: 5px 10px;
}
.floortiles-wrapper [data-tile] {
	background: #131313;
}
.floortiles-wrapper [data-tile] > div {
	position: absolute;
	color: #dbdbdb;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	text-align: center;
	line-height: 38px;
	border: 2px solid #dbdbdb;
	border-radius: 20px;
}
.floortiles-scope {
	margin-top: 15px;
}
.floortiles-scope > div {
	background: #b9b9b9;
	cursor: pointer;
	margin: 5px 0;
	padding: 2px;
	border: 1px solid #dbdbdb;
}
.floortiles-scope > div > div {
	margin: 0 auto;
}
.floortiles-scope > div > div > div {
	background: #131313;
	margin: 1px;
	display :inline-block;
}